<%
# Implements the criteria selection
# in order to attach a model to a specific
# page or page using a certain template
%>
<div class="dynamic-fields-criteria-selection l-box">

    <div class="dynamic-fields-criteria-group">
      <input type="radio" name="criteria-selection" checked />
      <div class='field l-gray-gradient active'>
        <%= f.label :page_layout %>
        <%= f.select :page_layout, options_for_select(@valid_view_templates) %>
      </div>
    </div>

    <div class="dynamic-fields-criteria-group">
      <input type="radio" name="criteria-selection" />
      <div class='field l-gray-gradient'>
        <%= f.label :page_id %>
        <%= f.select :page_layout, options_for_select(@pages.map {|page| [page.title, page.id] }) %>
      </div>
    </div>

</div>